<div class="container my-5">
  <h1 class="mb-3">Init password reset</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="submitAsync()">

        <div class="mb-3">
          <label for="validationServer01" class="form-label">User email</label>
          <input type="email" class="form-control {{ validators[0].state }}" id="validationServer01" name="email"
          [(ngModel)]="userInitPasswordResetRequest.email" aria-describedby="validationServer01Feedback" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div id="validationServer01Feedback" class="invalid-feedback">
            {{ validators[0].message }}
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">Rquest for password reset will be send to your provided email address</label>
        </div>

        <button type="submit" class="btn btn-outline-success me-md-2">Send request</button>
        <a class="btn btn-outline-secondary" role="button" (click)="cancel()">Cancel</a>
      </form>
    </div>
  </div>
</div>