<div class="container my-5">
  <h1 class="mb-3">Reset password</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="submitAsync()">

        <div class="mb-3">
          <label for="validationServer01" class="form-label">New password</label>
          <input type="password" class="form-control {{ validators[0].state }}" id="validationServer01" name="newPassword"
          [(ngModel)]="userPasswordResetRequest.newPassword" aria-describedby="validationServer01Feedback" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div id="validationServer01Feedback" class="invalid-feedback">
            {{ validators[0].message }}
          </div>
        </div>

        <button type="submit" class="btn btn-outline-success me-md-2">Reset</button>
        <a class="btn btn-outline-secondary" role="button" (click)="cancel()">Cancel</a>
      </form>
    </div>
  </div>
</div>