<div class="container">
  <form class="needs-validation" novalidate #form="ngForm" (ngSubmit)="signInAsync()">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="email" class="form-control {{ validators[0].state }}" id="validationServer01" placeholder="name@example.com" name="email" [(ngModel)]="userCredentials.email" aria-describedby="validationServer01Feedback" required>
      <label for="validationServer01">Email address</label>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div id="validationServer01Feedback" class="invalid-feedback">
        {{ validators[0].message }}
      </div>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control {{ validators[1].state }}" id="validationServer02" placeholder="Password" name="password" [(ngModel)]="userCredentials.password" aria-describedby="validationServer02Feedback" required>
      <label for="validationServer02">Password</label>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div id="validationServer02Feedback" class="invalid-feedback">
        {{ validators[1].message }}
      </div>
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    
    <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
  </form>
</div>