<div class="container">
  <main class="form-signin">
    <form #form="ngForm" (ngSubmit)="signInAsync()">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
        <input type="email" class="form-control" id="InputEmail1" placeholder="name@example.com" name="email" [(ngModel)]="userCredentials.email">
        <label for="InputEmail1">Email address</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="InputPassword1" placeholder="Password" name="password" [(ngModel)]="userCredentials.password">
        <label for="InputPassword1">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      
      <button type="submit" class="btn btn-lg btn-primary">Sign in</button>
    </form>
  </main>
</div>