<div class="container my-5">
  <h1 class="mb-3">Change password</h1>
  <div class="row">
    <div class="col-6">
      <form #form="ngForm" (ngSubmit)="submitAsync()">

        <div class="mb-3">
          <label for="InputEmail1" class="form-label">User email</label>
          <input type="email" class="form-control" id="InputEmail1" name="email" [(ngModel)]="changePasswordCredentials.email">
        </div>

        <div class="mb-3">
          <label for="OldPassword1" class="form-label">Old password</label>
          <input type="password" class="form-control" id="OldPassword1" name="oldPassword" [(ngModel)]="changePasswordCredentials.oldPassword">
        </div>

        <div class="mb-3">
          <label for="NewPassword1" class="form-label">New password</label>
          <input type="password" class="form-control" id="NewPassword1" name="newPassword" [(ngModel)]="changePasswordCredentials.newPassword">
        </div>

        <button type="submit" class="btn btn-outline-success me-md-2">Change</button>
        <a class="btn btn-outline-secondary" role="button" (click)="back()">Cancel</a>
      </form>

    </div>
  </div>
</div>