<main>
    <div class="container py-3">
      <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-dark">Special title treatment</h5>
              <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-outline-success me-md-2">Finish</a>
              <a href="#" class="btn btn-outline-secondary">Edit</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-dark">Special title treatment</h5>
              <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-outline-success me-md-2">Finish</a>
              <a href="#" class="btn btn-outline-secondary">Edit</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-dark">Special title treatment</h5>
              <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-outline-success me-md-2">Finish</a>
              <a href="#" class="btn btn-outline-secondary">Edit</a>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-dark">Special title treatment</h5>
              <p class="card-text text-muted">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-outline-success me-md-2">Finish</a>
              <a href="#" class="btn btn-outline-secondary">Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
